.Rproj.user
.Rhistory
.RData
.Ruserdata
scripts/inference/infLikelihood_mutations_simulations_SLiM.R
logs/
Inference_SLiM.Rproj
data/
.DS_Store 
scripts/inference/.DS_Store
!data/results_Discrete/figures/
!data/results_Continuous/figures/